body, html {
    height: 100%; /* Ensure the gradient covers the entire height */
    margin: 0; /* Remove default margin to avoid white space around the body */
    background-image: 
        linear-gradient(to right, rgba(0, 102, 255, 0.5), rgba(6, 132, 204, 0.5)),
        radial-gradient(circle, rgb(105, 48, 238), transparent);
    background-blend-mode: multiply; /* Optional: Blends the gradients together */

}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid;
    height: 100%;
    width: 100%;


}

.container-item-topColumn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5rem;
    height: 35%;
    width: 40%;
    margin: 3%;
}
.container-item-topColumn > h1 {
    font-weight: 300;
}


.container-item-topColumn > input {
    border-radius: 5rem;
    height: 2rem;
    width: 20rem;
    margin: 3%;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 20rem;
}

.buttons > button {
    width: 7rem;
    height: 2rem;
    border-radius: 5rem;
}


.todo-list {
    border-radius:2rem;
    height: 85%;
    width: 40%;
    background-color: white;
    overflow: hidden;
    
}

.top-Option {
    display: flex;
    flex-direction: row;

}
.top-Option > button {
    width: 50%;
    height: 5rem;
    border: none;
}


.top-Option > button {
    background-color: white;
    border-bottom: solid;
}

.top-Option > button:hover {
    background-color: rgb(212, 207, 207);
}


.todo-list-item {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
    border: solid;
    border-radius: 5rem;
}

.todo-list-item > button {
    font-size: 1rem;
    font-weight:bold;
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 5rem;

}

.todo-list-item > button:hover {
    background-color: lightgrey;
}
